version: "3.7"

services:
  mongodb:
    container_name: jungto_mongodb
    image: mongo:latest
    ports:
      - "27018:27017"
    env_file:
      - ./conf/mongodb/dev.env
    volumes:
      - ./conf/mongodb/docker-entrypoint-initdb.d/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - ./data/mongodb:/data/db
    networks:
      - jungto_net

  mongo-express:
    image: mongo-express:latest
    restart: unless-stopped
    env_file:
      - ./conf/mongodb/dev.env
    depends_on:
      - mongodb
    links:
      - mongodb
    ports:
      - "8081:8081"
    networks:
      - jungto_net

networks:
  jungto_net:
    driver: bridge
