global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  log global
  mode http
  option httplog
  option dontlognull
  # option forwardfor
  option forwardfor except 127.0.0.1
  option http-server-close
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats
  bind 127.0.0.1:8070
  mode http
  stats enable
  stats hide-version
  stats scope .
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth admin:password  # Authentication credentials


frontend http
  bind *:80
  mode http

  # Add CORS headers when Origin header is present
  capture request header origin len 128
  http-response add-header Access-Control-Allow-Origin %[capture.req.hdr(0)] if { capture.req.hdr(0) -m found }
  rspadd Access-Control-Allow-Methods:\ GET,\ HEAD,\ OPTIONS,\ POST,\ PUT  if { capture.req.hdr(0) -m found }
  rspadd Access-Control-Allow-Credentials:\ true  if { capture.req.hdr(0) -m found }
  rspadd Access-Control-Allow-Headers:\ Origin,\ Accept,\ X-Requested-With,\ Content-Type,\ Access-Control-Request-Method,\ Access-Control-Request-Headers,\ Authorization  if { capture.req.hdr(0) -m found }

  # acl url_acme_http01 path_beg /.well-known/acme-challenge/
  # http-request use-service lua.acme-http01 if METH_GET url_acme_http01
  # redirect scheme https code 301 unless { ssl_fc }

  # Define hosts
  # acl host_utfp hdr(host) -i utfp.kepco.co.kr

  default_backend web_backends

  ## figure out which one to use
  # use_backend utfp_backends if host_utfp


frontend https
  bind *:443 ssl crt /etc/ssl/certs/server.pem

  # set HTTP Strict Transport Security (HTST) header
  # max-age is mandatory 
  # 16000000 seconds is a bit more than 6 months
  http-response set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;"

  default_backend web_backends


backend web_backends
  # balance roundrobin
  # server weba weba:5000 check ssl verify none
  # server webb webb:5000 check ssl verify none
  # server webc webc:5000 check ssl verify none
  # option httpchk GET /
  # http-check expect status 200
  http-request set-header Host http_server

  # START CORS
  http-response add-header Access-Control-Allow-Origin "*"
  http-response add-header Access-Control-Allow-Headers "*"
  http-response add-header Access-Control-Max-Age 3600
  http-response add-header Access-Control-Allow-Methods "GET, DELETE, OPTIONS, POST, PUT, PATCH"
  # END CORS

  server web_backends web-server:3000 check
